<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <application android:allowBackup="false" tools:replace="android:allowBackup">
    <activity android:name=".ui.browser.BrowserActivity" android:taskAffinity="${applicationId}.browser" android:theme="@style/Theme.SearchLauncher.GeckoBrowser" tools:replace="android:taskAffinity,android:theme" />
    <activity android:name=".ui.browser.PrivateBrowserActivity" android:taskAffinity="${applicationId}.incognito" android:theme="@style/Theme.SearchLauncher.GeckoBrowser" tools:replace="android:taskAffinity,android:theme" />
    <activity android:name=".ui.browser.GeckoNotificationActivity" android:exported="false" android:excludeFromRecents="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <receiver android:name=".ui.browser.GeckoNotificationDismissReceiver" android:exported="false" />
  </application>
</manifest>
